<div class="row col-sm-6 col-sm-offset-3">

 <div class="jumbotron">
 <h1>Login</h1>

 <form ng-submit="aCtrl.doLogin()">

 <!-- USERNAME INPUT -->
 <div class="form-group">
 <label>Username</label>
 <input type="text" class="form-control" ng-model="aCtrl.loginData.username">
 </div>
 <!-- PASSWORD INPUT -->
 <div class="form-group">
 <label>Password</label>
 <input type="password" class="form-control" ng-model="aCtrl.loginData.password">
</div>

 <!-- LOGIN BUTTON -->
 <div class="alert alert-danger" ng-if="aCtrl.error">
{{ aCtrl.error }}
</div>
 <button type="submit" class="btn btn-block btn-primary">

  <span ng-if="!aCtrl.processing">Login</span>

 <span ng-if="aCtrl.processing" ><span class="spinner glyphicon glyphicon-repeat"></span></span>
 
 </button>

 </form>
 </div>

 </div>