<!-- <p>{{aCtrl.prop}}</p>
<h2>This is my message:</h2>


<div class="form-group">
<label>{{aCtrl.message}}</label>
<input type="text" class="form-control" ng-model="aCtrl.message">
</div>

<table class="table table-bordered">
<thead>
<tr ng-repeat="aObj in aCtrl.tableDataArray">
<td>{{aObj.name}}</td>
<td>{{aObj.username}}</td>
<td>{{aObj.password}}</td>
</tr>
</thead>
</table>
form to add computer to the list
<form class="form-inline" ng-submit="aCtrl.tableFunction()">

<input type="text" class="form-control" placeholder="name" ng-model="aCtrl.tableData.name">
<input type="text" class="form-control" placeholder="username" ng-model="aCtrl.tableData.username">
<input type="number" class="form-control" placeholder="password" ng-model="aCtrl.tableData.password">

<button type="submit" class="btn btn-success">Add</button>
 </form> -->
 
<span>{{aCtrl.test}}</span>